@font-face {
    font-family: 'AudioLink Mono';
    src: url('./fonts/AudioLinkMono-Light.woff2') format('woff2');
    font-weight: 300;
}

@font-face {
    font-family: 'AudioLink Mono';
    src: url('./fonts/AudioLinkMono-Regular.woff2') format('woff2');
    font-weight: 400;
}

@font-face {
    font-family: 'AudioLink Mono';
    src: url('./fonts/AudioLinkMono-Bold.woff2') format('woff2');
    font-weight: 700;
}

