@font-face {
    font-family: 'AudioLink Mono';
    src: url('./fonts/AudioLinkMono-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'AudioLink Mono';
    src: url('./fonts/AudioLinkMono-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'AudioLink Mono';
    src: url('./fonts/AudioLinkMono-Light.ttf') format('truetype');
    font-weight: light;
    font-style: normal;
}

@font-face {
    font-family: 'AudioLink Mono';
    src: url('./fonts/AudioLinkMono-Medium.ttf') format('truetype');
    font-weight: medium;
    font-style: normal;
}

body
{
    margin: 0;
    overflow: hidden;
    font-family: 'AudioLink Mono', sans-serif;
}

.webgl
{
    outline: none;
}

.toggle-button {
    font-family: 'AudioLink Mono', sans-serif;
    padding: 10px 20px;
    margin: 5px;
    border: 1px solid #ccc;
    border-radius: 4px;
    cursor: pointer;
    background-color: #f0f0f0;
    color: #333;
    user-select: none;
    display: inline-block; /* Ensures buttons appear in a row */
}

.toggle-button img {
    margin-right: 12px; /* Increased space between flag and text */
}

.toggle-button.on {
    background-color: #ffffff;
    color: black;
}

.toggle-button.off {
    background-color: #000000;
    color: white;
}